

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alkatra', cursive;



}
html,body{
    height: 100vh;
    width: 100vw;
    background-color: #F0C808;
}

.main{
        flex-shrink: 0;
        width: 100%;
        height: min-content; /* 800px */
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 100px 100px 100px 100px;
        background-color: #f0c808;
        min-height: 750px;
        overflow: hidden;
        position: relative;
        align-content: center;
        flex-wrap: nowrap;
        gap: 40;
        border-radius: 0px 0px 0px 0px;

}

.header{
    color: #A40E4C;
    position: absolute;
    top: 20%;
    right:35vw;
    font-size: 70px;
    bottom: auto;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

a:link, a:visited {

    color: #A40E4C;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    border-color: #A40E4C;
  }

  a:hover, a:active {
    background-color: #A40E4C;
    color: #F0C808;
  }

  